@use './utilities/index' as *;

:root {
	--light-red2: #ff8c66;
	--blue: #5847eb;
	--soft-blue: #56c2e6;
	--light-red: #ff5c7c;
	--lime-green: #4acf81;
	--violet: #7536d3;
	--soft-orange: #f1c65b;

	--very-dark-blue: #0f1424;
	--dark-blue: #1c1f4a;
	--desaturated-blue: #6f76c8;
	--pale-blue: #bdc1ff;
}

body {
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	background-color: var(--very-dark-blue);
}

#root {
	display: flex;
	justify-content: center;
	margin: 2em 0;
}

.main {
	display: grid;
	row-gap: 2em;
	width: 95vw;
	max-width: 19.75em;
}

.first {
	background-color: var(--dark-blue);
	overflow: hidden;
}

.first-img {
	width: 70px;
	border: 3px solid white;
	border-radius: 50%;
}

.first-up {
	padding: 1.7em;
	display: flex;
	align-items: center;
	column-gap: 1.3em;
	background-color: var(--blue);
}

.report {
	color: var(--pale-blue);
	font-size: 1.4rem;
}

.name {
	font-size: 2.4rem;
	color: white;
	font-weight: 300;
}

.first-down {
	padding: 1.5em 1.7em;
	display: flex;
	justify-content: space-between;
}

.first-down-btns {
	color: var(--desaturated-blue);
	text-transform: capitalize;
	cursor: pointer;
	font-size: 1.7rem;
}

.active {
	color: white;
}

.box {
	display: grid;
	grid-template-rows: auto 0.7fr auto;
	width: 100%;
	overflow: hidden;
}

.box-up {
	grid-row: 1/3;
	width: 100%;
	height: 55px;
	background-color: var(--light-red2);
}

.box-up-icon {
	display: block;
	margin: 0em 1em 0 auto;
	width: 20%;
}

.text-content {
	grid-row: 3/4;
	padding: 1.5em;
	background-color: var(--dark-blue);
}

.text-up,
.text-down {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-up {
	padding-bottom: 0.5em;
}

.activity,
.hours {
	color: white;
}

.activity {
	font-weight: 500;
}

.hours {
	font-size: 3rem;
	font-weight: 300;
}

.dots,
.time {
	color: var(--pale-blue);
}

.dots {
	font-size: 2rem;
}

.time {
	font-size: 1.3rem;
}

.text-content,
.box,
.first-up,
.first {
	border-radius: 1em;
}

@media (min-width: 992px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 1.5em;
		width: 95%;
		max-width: fit-content;
	}

	.first {
		grid-row: 1/-1;
		width: 13.4em;
		height: 100%;
	}

	.first-up {
		flex-direction: column;
		align-items: start;
	}

	.first-img {
		margin-bottom: 2em;
	}

	.name {
		margin-bottom: 1em;
		font-size: 3.2rem;
	}

	.first-down {
		height: fit-content;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		row-gap: 0.9em;
	}

	.first-down-btns {
		display: block;
		font-size: 1.9rem;
		transition: color 0.2s;

		&:hover {
			color: white;
		}
	}

	.box {
		grid-template-rows: auto 0.6fr auto;
	}

	.box-up {
		height: 4.6em;
	}

	.box-up-icon {
		width: 30%;
	}

	.activity {
		font-size: 1.4rem;
	}

	.text-content {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		transition: background-color 0.2s;

		&:hover {
			background-color: var(--desaturated-blue);
		}
	}

	.dots {
		padding: 0.5em 0;
		z-index: 100;
		cursor: pointer;
	}

	.text-down {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		row-gap: 0.5em;
	}

	.hours {
		font-size: 4.4rem;
	}

	.time {
		font-size: 1.1rem;
	}
}
